*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

.icon{
    font-size: 30px;
    color: wheat;
}

header{
    margin-top: 30px;
}
.SearchBar{
    width: 300px;
    height: 45px;
    border: none;
    padding-left: 20px;
    border-radius:  5px 0 0 5px;
    background-color: #f1f1f1;
}
.searchButton{
    width: 80px;
    border-radius: 0 5px 5px 0;
    background-color: #F06C4E;
    height: 44px;
    border: none;
}
.searchArea{
    margin-top: 50px;
}

#errorMessage{
    margin-top: 100px;
    text-align: center;
    color: rgb(238, 36, 0);
}

#mealContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.mealDiv img{
    width: 100%;
    border-radius: 10px;
}
.mealDiv{
    width: 250px;
    height: 360px;
    background-color: #f1f1f1;
    margin-top: 60px;
    border-radius: 10px;
    text-align: center;
}

#mealIngredients {
    display: grid;
}

#mealIngredients img{
    width: 500px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
}
#mealIngredients li{
    list-style: none;
}
#mealIngredients div> li > i{
 color: #F06C4E;
}

@media screen and (max-width: 600px) {
    #mealContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
    #mealIngredients img{
        width: 100%;
        height: 300px;
        margin-top: 40px;
        margin-bottom: 25px;
        border-radius: 10px;
    }

    .SearchBar{
        width: 150px;
        height: 30px;
    }
    .searchButton{
        width: 80px;
        height: 30px;
    }
  }

@media screen and (max-width: 700px) {
    #mealContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    #mealIngredients img{
        width: 100%;
    }

    .SearchBar{
        width: 250px;
        height: 40px;
    }
    .searchButton{
        height: 40px;
    }
  }